* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

.navbar .navbar-nav a {
    color: #ffffff;
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 1rem;
    
}

body {
    font-family: 'Poppins', sans-serif;
    color: #727272;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 2500px;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    border-bottom: 1px solid #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
}

.navbar .navbar-nav a:hover {
    color: #303030;
}

.navbar .navbar-extra a {
    color: #ffffff;
}


#line-menu {
    display: none;
}


/* Main section */
.main {
    min-height: 100vh;
    display: flex;
    text-align: center;

}

.content {
    color: #ffffff;
    text-align: center;
    position: relative;
    padding: 18% ;
    font-size: 2rem;
    text-shadow: 3px 3px 3px #303030;
}

/* .bg {
    width: 100%;
} */

/* media queries */


/* laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
/* 
    #line-menu {
    display: none;
    color: #ffffff;
    } */
}


/* tablet & phone */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #line-menu {
    display: inline-block;
    color: #ffffff;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #4f4f4f;
        width: 20rem;
        height: 500%;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: #ffffff;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .main .content {
        padding: 25% 10%;
        font-size: 2rem;
    }
}

/* phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }

    .main .content {
        margin-top: 20%;
    }

}

